@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .top-nav-link{
        @apply text-md hover:font-semibold focus:font-semibold px-2 py-4 lg:p-4 mr-3;
    }
    .mobile-link{
        @apply block text-base hover:bg-yellow-300 focus:bg-yellow-300 p-4 pl-5 ;
    }
    .footer-link{
        @apply hover:underline focus:underline;
    }
    .activeLink{
        @apply font-semibold;
    }
    .input{
        @apply block mb-3 rounded-lg w-full border-2 border-gray-200 dark:bg-black-surface dark:border-transparent;
    }
}

@layer utilities {
    .flex-15{
        flex: 0 0 15%;
    }
    .flex-40{
        flex: 0 1 40%;
    }
}

.home-square{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
  
.home-square-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 375px;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.project-card{
    display: grid;
    grid-template-rows: 175px 3fr 1fr;
    max-width: 375px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.contact-form label{
    display: block;
}


.big-glass{
    backdrop-filter: blur(15px);
    border: 1px solid #ffffff59;
  background-color: #ffffff59;
  box-shadow: 2.5px 2.5px 30px 0px rgba(230, 230, 230, 0.459);
}

.glass-pane{
    border-radius: 5px;
    background-color: #ffffff13;
    backdrop-filter: blur(15px);
    border: 1px solid #ffffff59;
    box-shadow: 5px 5px 15px 0px rgba(230, 230, 230, 0.253);
}


.slide-in div{
    animation: 2s slidein;
}

@keyframes slidein {
    from {
      margin-top: 200px;
    }
  
    to {
      margin-top: 0;
    }
  }